@font-face
  font-family "Open Sans"
  src url('../fonts/opensans/OpenSansRegular.eot')
  src url('../fonts/opensans/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/opensans/OpenSansRegular.woff') format('woff'),
      url('../fonts/opensans/OpenSansRegular.ttf') format('truetype')
  font-weight normal
  font-style normal


@font-face
  font-family "Open Sans"
  src url('../fonts/opensans/OpenSansBold.eot')
  src url('../fonts/opensans/OpenSansBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/opensans/OpenSansBold.woff') format('woff'),
      url('../fonts/opensans/OpenSansBold.ttf') format('truetype')
  font-weight bold
  font-style normal