$desktop-cutoff = 1024px
$mobile-cutoff = 640px

$header-height = 50px
$footer-height = 100px

$accent-color = #0085d5
$border-color = #e3e3e3

$links-color = #2d3e4c
$links-hover-color = #fe5617

$site-width = 1000px