.social
  list-style none
  display block
  
  height 100%
  display flex
  align-items stretch
  
  &--footer
    .social__link
      height $footer-height
  

  &__icon
    transition all .16s ease
  

  &__link
    display block
    height $header-height
    
    display flex
    align-items center
    
    padding 0 10px
    transition all .16s ease
    
    &--vk
      .social__icon
        fill #5a7fa8
        
      &:hover
        background #5a7fa8
        
        .social__icon
          fill #fff
    
    &--tw
      .social__icon
        fill #55acee
        
      &:hover
        background #55acee
        
        .social__icon
          fill #fff
    
    &--fb
      .social__icon
        fill #3b5998
        
      &:hover
        background #3b5998
        
        .social__icon
          fill #fff
    
    &--gp
      .social__icon
        fill #dc4e41
        
      &:hover
        background #dc4e41
        
        .social__icon
          fill #fff
    
    &--youtube
      .social__icon
        fill #cd201f
        
      &:hover
        background #cd201f
        
        .social__icon
          fill lighten(#cd201f, 50%)
    
    &--instagram
      .social__icon
        fill #3f729b
        
      &:hover
        background #3f729b
        
        .social__icon
          fill #fff
    
    &--ok
      .social__icon
        fill #ed812b
        
      &:hover
        background #ed812b
        
        .social__icon
          fill #fff