.stat
  display flex
  align-items center
  
  &--gray
    color #707070
    
    .stat__icon
      fill #707070
  
  &--white
    color #fff
    
    .stat__icon
      fill #fff
  
  &--black
    color #000
    
    .stat__icon
      fill #000
  

  &__icon
    margin-right 5px
  

  &__count
    font-size 13px
    line-height 1
    font-weight bold
    font-family Arial 